#target {
  list-style: none;

  .item {
    display: inline-block;
    margin-right: 20px;
  }

  .underline {
    background-color: black;
    height: 2px;
  }
}

#vertical {
  list-style: none;

  .item {
    margin-bottom: 20px;
  }

  .underline {
    background-color: black;
    width: 2px;
  }
}
